body{
    background-color: hsl(0, 0%, 8%);
    color: hsl(0, 0%, 100%);
}

.Container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.ProfilePic img{
    
    border-radius: 50%;
}
.ProfileName{
    color: hsl(0, 0%, 100%);
    font-size: 1rem;
    font-weight: 700;
    margin-top: 1rem;
    
}

.SocialLinks{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}
